/*ul{
    list-style-type: circle;
    list-style-position: inside;
    list-style-image: url("images/star.png");

    list-style: inside url("images/star.png");
}


ol{

    list-style-type: decimal-leading-zero;
}
*/




/*
body {
font-family: Arial, Verdana, sans-serif;
color: #111111;}
table {
width: 700px;}
th, td {
padding: 7px 10px 10px 10px;}
th {
text-transform: uppercase;
letter-spacing: 0.1em;
font-size: 90%;
border-bottom: 2px solid #111111;
border-top: 1px solid #999;
text-align: left;}
tr.even {
background-color: #efefef;}
tr:hover {
background-color: #c3e6e5;}
.money {
text-align: right;}*/

/*
td {
border: 1px solid #0088dd;
padding: 15px;}
table.one {
empty-cells: hide;
}
table.two {
empty-cells: hide;}*/


/*td {
background-color: #0088dd;
padding: 15px;
border: 2px solid #000000;}
table.one {
border-spacing: 25px 25px;}
table.two {
border-collapse: collapse;}*/
/*

input {
font-size: 120%;
color: #5a5854;
background-color: #f2f2f2;
border: 1px solid #bdbdbd;
border-radius: 5px;
padding: 5px 5px 5px 30px;
background-repeat: no-repeat;
background-position: 8px 9px;
display: block;
margin-bottom: 10px;}
input:focus {
background-color: #ffffff;
border: 1px solid #b1e1e4;}



button{
    background-color: lightgoldenrodyellow;
    color: brown;
    border-radius: 20px;
}*/



div {
border-bottom: 1px solid #efefef;
margin: 10px;
padding-bottom: 10px;
width: 500px;}
.title {
float: left;
width: 100px;
text-align: right;
padding-right: 10px;}
.radio-buttons label {
float: none;}
.submit {
text-align: right;}



a{
    cursor: url("images/star.png");
}